{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@services/(.*)$",
    "^@config/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ]
}
